@{
    ViewData["Title"] = "Дисциплины";
    Layout = "~/Views/Shared/_LayoutT.cshtml";
}

<div class="container" style="margin-top: 40px">
    <h1 style="margin-left: auto; margin-right: auto; margin-bottom: 30px;">
        Дисциплины
    </h1>
    @model List<BBLib.Models.UsDi>
    <div class="container">
        @foreach (var disc in Model)
        {
            <div class="predmet">
                <a style="font-weight: bold; font-size: 22px" name="btn" asp-route-id="@disc.NameD" asp-action="PapkiT">@disc.NameD</a>
            </div>
        }
    </div>
</div>