@{
    ViewData["Title"] = "Дисциплины";
}

<div style="margin-top: 40px">
    <h1 style="margin-left: auto; margin-right: auto;">
        Дисциплины
    </h1>
    <div class="container" style="margin-top: 40px">
        <a href="/Home/ikg">
            <div class="predmet">
                Инженерная компьютерная графика
            </div>
        </a>
        <a href="/Home/ikg">
            <div class="predmet">
                Инструментальные средства разработки программного обеспечения
            </div>
        </a>
        <a href="/Home/ikg">
            <div class="predmet">
                Математическое моделирование
            </div>
        </a>
        <a href="/Home/ikg">
            <div class="predmet">
                Основы философии
            </div>
        </a>
        <a href="/Home/ikg">
            <div class="predmet">
                Основы экономики
            </div>
        </a>
        <a href="/Home/ikg">
            <div class="predmet">
                Поддержка и тестирование программных модулей
            </div>
        </a>
        <a href="/Home/ikg">
            <div class="predmet">
                Разработка мобильных приложений
            </div>
        </a>
        <a href="/Home/ikg">
            <div class="predmet">
                Разработка программных модулей
            </div>
        </a>
        <a href="/Home/ikg">
            <div class="predmet">
                Системное программирование
            </div>
        </a>
        <a href="/Home/ikg">
            <div class="predmet">
                Технология разработки программного обеспечения
            </div>
        </a>
    </div>
</div>