@{
    ViewData["Title"] = "Лекции";
}

<div style="margin-top: 40px">
    <h1 style="margin-left: auto; margin-right: auto;">
        Инженерная компьютерная графика: Лекции
    </h1>
    <div class="container" style="margin-top: 40px">
        <div style="width: 180px; padding-bottom: 20px">
            <a href="https://docs.google.com/document/d/1E6jPHREZqL5GlabbBdzaEewpJ2hpC44n/edit?usp=sharing&ouid=106452504024939064274&rtpof=true&sd=true">
                <div class="vidi">
                    <img src="https://i.ibb.co/rfm2Lmf/dok.png" />
                    <label>Лекция 1</label>
                </div>
            </a>
        </div>
        <div style="width: 330px; padding-bottom: 20px">
            <a href="https://docs.google.com/document/d/1E6jPHREZqL5GlabbBdzaEewpJ2hpC44n/edit?usp=sharing&ouid=106452504024939064274&rtpof=true&sd=true">
                <div class="vidi">
                    <img src="https://i.ibb.co/rfm2Lmf/dok.png" />
                    <label>Лекция 2</label>
                </div>
            </a>
        </div>
        <div style="width: 330px">
            <a href="https://docs.google.com/document/d/1E6jPHREZqL5GlabbBdzaEewpJ2hpC44n/edit?usp=sharing&ouid=106452504024939064274&rtpof=true&sd=true">
                <div class="vidi">
                    <img src="https://i.ibb.co/rfm2Lmf/dok.png" />
                    <label>Лекция 3</label>
                </div>
            </a>
        </div>
    </div>
</div>